<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com/fcryan/mybatis/FcryanMapper.xml">
	<!-- ProductDAO -->	
	<select id="bestView" resultType="ProductDTO">
		<![CDATA[
			SELECT * FROM (SELECT * FROM fcproduct
		                   ORDER BY p_good DESC)
			WHERE rownum <= 5
		]]>
	</select>
	
	<select id="newView" resultType="com.fcryan.dto.ProductDTO">
		<![CDATA[
			SELECT * FROM (SELECT * FROM fcproduct
	               ORDER BY p_indate DESC)
			WHERE rownum <= 10
		]]>
	</select>
	
	<select id="clubView"  resultType="com.fcryan.dto.ProductDTO">
		SELECT * FROM fcproduct
		<if test='code == "1"'>
			WHERE p_club = '프리메라리그'
		</if>
		<if test='code == "2"'>
			WHERE p_club = '프리미어리그'
		</if>
		<if test='code == "3"'>
			WHERE p_club = '분데스리가'
		</if>
		<if test='code == "4"'>
			WHERE p_club = '세리에 A'
		</if>
		ORDER BY p_good DESC
	</select>
	
	
	
	
	<!-- ========================================================== -->
	<!-- MemberDAO -->
	
	<insert id="insertMember" parameterType="com.fcryan.dto.MemberDTO">
		INSERT INTO member(id, pw, name, phone, email, zipcode, addr1, addr2)
	    VALUES(#{id}, #{pw}, #{name}, #{phone}, #{email}, #{zipcode}, #{addr1}, #{addr2})
	</insert>
	
	<select id="confirmID" parameterType="String" resultType="String">
		SELECT id FROM member
	 	WHERE id = #{userid}
	</select>
	
	<select id="confirmPW" parameterType="com.fcryan.dto.MemberDTO" resultType="String">
		SELECT id FROM member
		WHERE id = #{id} AND pw = #{pw}
	</select>
	
	<select id="loginCheck" parameterType="com.fcryan.dto.MemberDTO" resultType="com.fcryan.dto.MemberDTO">
		SELECT * FROM member
		WHERE id = #{id} AND pw = #{pw}
	</select>
	
	<update id="updateMember" parameterType="com.fcryan.dto.MemberDTO">
		UPDATE member SET
		name = #{name},
		phone = #{phone},
		email = #{email},
		zipcode = #{zipcode},
		addr1 = #{addr1},
		addr2 = #{addr2}
		WHERE id = #{id}
	</update>
	
	<update id="updatePw" parameterType="com.fcryan.dto.MemberDTO">
		UPDATE member SET
		pw = #{pw}
		WHERE id = #{id} 
	</update>
	
	<delete id="deleteMember" parameterType="String">
		DELETE FROM member
		WHERE id = #{userid}
	</delete>
	
	
	<!-- ========================================================== -->
	<!-- BoardDAO -->
	<select id="countPaging" resultType = "int">
		<![CDATA[
			SELECT count(bno)
			FROM fcryanboard
			WHERE bno > 0  
		]]>
        <if test='flag == "1"'>
        		<![CDATA[AND title LIKE '%'||#{keyword}||'%']]>
        </if>
        <if test='flag == "2"'>
        		<![CDATA[AND content LIKE '%'||#{keyword}||'%']]>
        </if>
        <if test='flag == "3"'>
        		<![CDATA[AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%']]>
        </if>
        <if test='flag == "4"'>
        		<![CDATA[AND writer LIKE '%'||#{keyword}||'%']]>
        </if>
	</select>
	
	<select id="boardList" resultType="com.fcryan.dto.BoardDTO">
		<![CDATA[
			SELECT * FROM ( SELECT rownum rnum,
	                a.* 
	                FROM ( SELECT *
	                       FROM fcryanboard
	                       WHERE bno > 0  ]]>
	                       <if test='flag == "1"'>
	                       		<![CDATA[AND title LIKE '%'||#{keyword}||'%']]>
	                       </if>
	                       <if test='flag == "2"'>
	                       		<![CDATA[AND content LIKE '%'||#{keyword}||'%']]>
	                       </if>
	                       <if test='flag == "3"'>
	                       		<![CDATA[AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%']]>
	                       </if>
	                       <if test='flag == "4"'>
	                       		<![CDATA[AND writer LIKE '%'||#{keyword}||'%']]>
	                       </if>
	                       
	                       <if test='code == "new"'>
	                       		ORDER BY bno DESC
	                       </if>
	                       <if test='code == "good"'>
	                       		ORDER BY goodcnt DESC, bno DESC
	                       </if>
	                       <if test='code == "reply"'>
	                       		ORDER BY replycnt DESC, bno DESC
	                       </if>
	                       <if test='code == "cnt"'>
	                       		ORDER BY viewcnt DESC, bno DESC
	                       </if>
	    <![CDATA[         		
	                      ) a
	              )
			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}   
		]]>
	</select>
	
	<select id="boardDetailView" resultType="com.fcryan.dto.BoardDTO">
		SELECT *
		FROM fcryanboard
		WHERE bno = #{bno}
	</select>
	
	<update id="viewCnt">
		UPDATE fcryanboard
			SET viewcnt = viewcnt + 1
			WHERE bno = #{bno}
	</update>
	
	<insert id="boardInsert" parameterType="com.fcryan.dto.BoardDTO">
		<choose>
			<when test="content != null">
				INSERT INTO fcryanboard(bno, title, content, writer, filename, filesize)
				VALUES(seq_fcryanboard.NEXTVAL, #{title}, #{content}, #{writer}, #{filename}, #{filesize})
			</when>
			<otherwise>
				INSERT INTO fcryanboard(bno, title, writer, filename, filesize)
				VALUES(seq_fcryanboard.NEXTVAL, #{title}, #{writer}, #{filename}, #{filesize})
			</otherwise>
		</choose>
	</insert>
	
	<update id="boardUpdate" parameterType="com.fcryan.dto.BoardDTO">
					UPDATE fcryanboard SET
						title = #{title},
						writer = #{writer}, 
					<if test="filename != 'no'">
						filename = #{filename}, 
						filesize = #{filesize},
					</if>
						content = #{content}
						WHERE bno = #{bno}				
	</update>
	
	<delete id="boardDelete" parameterType="String">
		DELETE FROM fcryanboard
		WHERE bno = #{bno}
	</delete>
	
	<!-- ========================================================== -->
	<!-- ReplyDAO -->
	<select id="replyListAll" parameterType="String" resultType="com.fcryan.dto.ReplyDTO">
		SELECT * FROM fcryanreply
		WHERE bno = #{bno}
		ORDER BY rno ASC
	</select>
	
	<insert id="replyInsert" parameterType="com.fcryan.dto.ReplyDTO">
		INSERT INTO fcryanreply(rno, content, writer, bno) 
		VALUES(seq_fcryanreply_rno.NEXTVAL, #{content}, #{writer}, #{bno})
	</insert>
	
	<update id="ReplyCntPlus">
		UPDATE fcryanboard SET
			replycnt = replycnt + 1
			WHERE bno = #{bno}
	</update>
	
	<update id="ReplyCntMinus">
		UPDATE fcryanboard SET
			replycnt = replycnt - 1
			WHERE bno = #{bno}
	</update>
	
	<delete id="replyDeleteAll" parameterType="String">
		DELETE FROM fcryanreply
		WHERE bno = #{bno}
	</delete>
	
	<delete id="replyDelete" parameterType="String">
		DELETE FROM fcryanreply
		WHERE rno = #{rno}
	</delete>
</mapper>












