<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.biz.hello.dao.ScoreDao">
 
 	<select id="selectAll" resultType="ScoreDTO">
 		SELECT s_id,
				s_std,
				s_subject,
				s_score,
				s_rem
		FROM tbl_score
 	</select>
 	
 	<select id="findById"></select>
 	<insert id="insert"></insert>
 	<update id="update"></update>
 	<delete id="delete"></delete>
 
 </mapper> 